* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* background-color: black; */
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    padding-inline: 40px;

    & .logo {
        background-color: aqua;
        width: 10%;
        text-align: center;

        & img {
            width: 60%;
            height: auto;
        }
    }

    & nav {
        width: 80%;
        background-color: aquamarine;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;

        & ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 20px;
            background-color: blueviolet;
        }

        & .menu {
            display: none;
        }
    }
}

@media (width <=550px) {
    header {
        .logo {
            background-color: olive;
            width: 10%;

            & img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media (width <=400px) {
    header {
        & nav {
            & ul {
                position: absolute;
                top: 0%;
                left: -1000px;
                background-color: aqua;
                height: 100%;
                flex-direction: column;
                justify-content: flex-start;
                width: 50%;
                align-items: center;
                gap: 20px;
                padding-top: 20px;
            }

            & .menu {
                display: block;
            }
        }
    }
}
.showme{
    left: 0px;
}